<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jobs Here</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  @using JobPosting.Models;

  <h1>Current Jobs</h1>

  @if (Model.Count == 0)
  {
    <p>There are no jobs currently posted.</p>
  }
  <ul>
    @foreach (Job jobTitle in Model)
    {
      <li>@jobTitle.JobTitle</li>
      <ul>
      @foreach (Job job in Model)
    {
      <li>@job.JobDescription</li>
      <li>@job.JobLocation</li>
      <li>@job.JobSalary</li>
    }
    </ul>
    }
  </ul>
  <a href='/job/new'>Post a Job Today!</a>
  <a href='/job'>View Job Postings.</a>
</body>
</html>